*{
    box-sizing: border-box;;
    border: 0px;
    margin: 0px;
}

html{
    font-size: 1rem;
}

body{
    margin: 0rem 2rem 0rem 2rem;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    font-size: 0.8rem;
    align-items: baseline;
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 0.8rem;
}

header ul{
    list-style: none;
    display: flex;
    gap: 0.7rem;
    background-color: none;
}

header .title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.7rem;
    
}

.title span:nth-child(2){
    background-color: #D0D3E3;
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 0.5rem;
}

.title .people {
    align-self: baseline;
    width: 0.6rem;
    font-size: 0.5rem;
}


ul li button{
    background-color: transparent;
    font-size: 0.7rem;
}

ul li button:hover{
  cursor: pointer;
}



.video_container{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:0.7rem auto 0 auto;
    gap: 0.5rem
}

.videos{
    flex: 1 1 70%;
}

.message_wrapper{
    flex: 1 1 30%;
}

.information{
    display:flex;
    justify-content: space-between;
    font-size: 0.7rem;
    padding-bottom: 0.7rem;
    align-items: baseline;
}

.information img{
    height: 0.7rem;
}

.information .invited_to_call_btn{
    background-color: #EDFAF8;
    color: #21AF99;
    border-radius: 0.5rem;
}

.information .plus_btn{
    background-color: #00A389;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.5rem;
    padding: 0.3rem
    
}
.information .user_to_call_btn{
    background-color: transparent;
    font-size: 0.7rem;
    color: #21AF99;
    border-radius: 0.5rem;
}


.add_to_call_action img{
    font-size: 0.7rem;
    border-radius: 0.5rem;
}

.add_to_call_action button:hover{
    cursor: pointer;
}

